body {
  background-image: url("https://poster.nicefon.ru/2016_06/09/1080x610/24721ea68f8f0d8b83831.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
font-family: abc;
src: url(abc.otf); 
}

h1 {
font-family: abc;
font-size: 128px;
color: red;
}

p {
font-family: abc;
font-size: 35px;
color: red;
}

#hb {
	position: absolute;
	top: 5%;
	left: 25%;
	 animation-name: example, loop;
        animation-duration: 4s;
	animation-iteration-count: infinite;
}



#tx {
	position: absolute;
	top: 27%;
	left: 41%;
}

#dance1 {
	position: absolute;
	bottom: 1%;
	left: 41%;
}

#dance2 {
	position: absolute;
	bottom: 3%;
	left: 75%;
}

#dance3 {
	position: absolute;
	bottom: 10%;
	left: 15%;
}

#dance4 {
	position: absolute;
	bottom: 1%;
	left: 0%;
}

#dance5 {
	position: absolute;
	bottom: 1%;
	left: 70%;
}

#dance20 {
	position: absolute;
	bottom: 0%;
	left: 23%;
animation-name: duck;
        animation-duration: 10s;
	animation-iteration-count: infinite;
}

#dance30 {
	position: absolute;
	bottom: 10%;
	left: 60%;
}

#dance40 {
	position: absolute;
	bottom: 5%;
	left: 66%;
animation-name: bear;
        animation-duration: 10s;
	animation-iteration-count: infinite;
}
}

#dance50 {
	position: absolute;
	bottom: 9%;
	left: 74%;
}


#ang {
	position: absolute;
	top: 0%;
	left: 17%;
animation-name: loop;
        animation-duration: 4s;
	animation-iteration-count: infinite;
}



#salut-2 {
	position: absolute;
	top: 20%;
	left: 20%;
}

#salut-3 {
	position: absolute;
	top: 0%;
	right: 0%;
}

#salut-4 {
	position: absolute;
	top: 5%;
	left: 80%;
}

#salut11 {
	position: absolute;
	top: 1%;
	left: 0%;
}



#salut13 {
	position: absolute;
	top: 15%;
	left: 60%;
}

@keyframes example {
    0%   {color:red;}
    25%  {color:yellow;}
    50%  {color:blue;}
    75%  {color:green;}
    100% {color:red;}
}

@keyframes loop {
	0% {transform: scale(1.1);}
	50% {transform: scale(1);}
	100% {transform: scale(1.1);}
}

@keyframes duck {
	0% {transform: scale(1);}
	50% {transform: scale(0.8);}
	100% {transform: scale(1);}
}

@keyframes bear {
	0% {transform: translate(0px, 0px);}
	50% {transform: translate(100px, 0px);}
	100% {transform: translate(0px, 0px);}
}